*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 15px 90px;
}

header{
    background-color: rgb(139, 180, 196);
    width: 100%;    
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
}

nav{
    background-color: rgb(89, 145, 167);
    width: 100%;
    height: 6vh;
    display: flex;
    border-radius: 0px 0px 3px 3px;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

aside a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav > a:hover {
    cursor: pointer;
}

article{
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.imagem-conteudo{
    width: 300px;
    border-radius: 5px;
}

article section{
    display: flex;
    gap: 30px
}

aside{
    background-color: gainsboro;
    width: 20%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 30px;
}

footer{
    height: 3.5rem;
    background-color: rgb(89, 145, 167);
    align-items: center;
    border-radius: 3px;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}


.conteudo{
    display: flex;
    gap: 30px;
}

.logo{
    width: 100px;

}

.header-inner{
    padding-left: 15px;
    padding-top: 15px;
}

.links{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.txt-claro{
    color: gray;
    font-size: 90%;
}

.btn-anuncio{
    padding: 1rem;
    color: white;
    background-color: rgb(28, 28, 54);
    border: 0px;
    border-radius: 5px;
}

.redes-sociais{
    display: flex;
    gap: 10px;
}

.redes-sociais img {
    width: 30px;
}